*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* background */
body{
    background-image: url(../../Images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    background-size: 120%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);  
    background-attachment: fixed;
}

/* white background space */
.container5{
    width:1162px;
    height:560px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 40px;
}

/* used to center white background */
.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.package1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;
    padding-left:200px;
}

.package-details{
    position: absolute;
    left:800px;
    top:300px;
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 20px;
}
.package-button{
    border-radius: 30px;
    padding:8px 30px;
    border: solid black 3px;
    background-color:black;
    text-decoration: none;
    color:white;
    font-family:'Roboto', sans-serif;
    font-weight: 550;
    font-size:16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width:200px;
    position:absolute;
    left:800px;
    top:450px;
}
.package-button:active{
    transform: scale(0.95);
}
.package-button:hover{
    background-color: #ffac0d;
    border: solid #ffac0d 3px;
}