*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* background */
body{
    background-image: url(../../Images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    background-size: 120%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);  
    background-attachment: fixed;
}

/* white background space */
.container4{
    width:1162px;
    height:1400px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 40px;
}

/* used to center white background */
.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.category{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 90px;
    padding-bottom: 30px;
    text-align: center;
}
.type{
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: center;
}
.category2{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 90px;
    padding-bottom: 30px;
    text-align: center;
    padding-top:60px;

}
.tp{
    padding-left:40px;
}



